.post-preview h1 a {
    color: #303030;
}

.post-preview {
    padding-bottom: 3px;
    border-bottom: 1px solid #303030;
}

.desktop-only {
    display: none;
    visibility: hidden;
}

@media (min-width: 48em) {
    .desktop-only {
        display: block;
        visibility: visible;
    }
}

